<!DOCTYPE html>
<html lang="'en">
<head>
    <meta charset="UTF-8">
    <meta name="viewreport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>hello world</h1>
    <h2>
        <%= text %>
    </h2>
    <img src="img/nodejs.png" alt="nodejavascript">
    <img src="img/version.png" alt="nodeversions">
</body>

